<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.business.mapper.AttributeGroupRelationMapper">
  <resultMap id="BaseResultMap" type="com.ruoyi.project.business.domain.AttributeGroupRelation">
    <!--@mbg.generated-->
    <!--@Table t_attribute_group_relation-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="attribute_id" jdbcType="INTEGER" property="attributeId" />
    <result column="attribute_group_id" jdbcType="INTEGER" property="attributeGroupId" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="is_deleted" jdbcType="INTEGER" property="isDeleted" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, attribute_id, attribute_group_id, sort, create_time, update_time, is_deleted
  </sql>
</mapper>