<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.business.mapper.CouponUserMapper">
  <resultMap id="BaseResultMap" type="com.ruoyi.project.business.domain.CouponUser">
    <!--@mbg.generated-->
    <!--@Table t_coupon_user-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="coupon_id" jdbcType="INTEGER" property="couponId" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="received_time" jdbcType="TIMESTAMP" property="receivedTime" />
    <result column="used_time" jdbcType="TIMESTAMP" property="usedTime" />
    <result column="expire_time" jdbcType="TIMESTAMP" property="expireTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="is_deleted" jdbcType="INTEGER" property="isDeleted" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, user_id, coupon_id, code, `status`, received_time, used_time, expire_time, create_time, 
    update_time, is_deleted
  </sql>
</mapper>