<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.business.mapper.GiftItemMapper">
  <resultMap id="BaseResultMap" type="com.ruoyi.project.business.domain.GiftItem">
    <!--@mbg.generated-->
    <!--@Table t_gift_item-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="item_id" jdbcType="INTEGER" property="itemId" />
    <result column="option_id" jdbcType="INTEGER" property="optionId" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="nick_name" jdbcType="VARCHAR" property="nickName" />
    <result column="room_id" jdbcType="INTEGER" property="roomId" />
    <result column="museum_id" jdbcType="INTEGER" property="museumId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="score" jdbcType="DOUBLE" property="score" />
    <result column="count" jdbcType="INTEGER" property="count" />
    <result column="order_id" jdbcType="VARCHAR" property="orderId" />
    <result column="order_status" jdbcType="VARCHAR" property="orderStatus" />
    <result column="expire_time" jdbcType="TIMESTAMP" property="expireTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, item_id, user_id,option_id, nick_name, room_id, museum_id, create_time, update_time, score,`count`,order_id,order_status,expire_time
  </sql>
</mapper>
