<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.business.mapper.SpiritPositionMapper">
  <resultMap id="BaseResultMap" type="com.ruoyi.project.business.domain.SpiritPosition">
    <!--@mbg.generated-->
    <!--@Table t_spirit_position-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="museum_id" jdbcType="INTEGER" property="museumId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="self_museum_id" jdbcType="INTEGER" property="selfMuseumId" />
    <result column="row" jdbcType="INTEGER" property="row" />
    <result column="col" jdbcType="INTEGER" property="col" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, museum_id, `name`, description, self_museum_id, `row`, col, create_time, update_time
  </sql>
</mapper>