<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.business.mapper.SpuCommentMapper">
  <resultMap id="BaseResultMap" type="com.ruoyi.project.business.domain.SpuComment">
    <!--@mbg.generated-->
    <!--@Table t_spu_comment-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="order_id" jdbcType="VARCHAR" property="orderId" />
    <result column="spu_id" jdbcType="INTEGER" property="spuId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="user_avatar" jdbcType="VARCHAR" property="userAvatar" />
    <result column="nick_name" jdbcType="VARCHAR" property="nickName" />
    <result column="rate" jdbcType="VARCHAR" property="rate" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="picture" jdbcType="LONGVARCHAR" property="picture" />
    <result column="video" jdbcType="LONGVARCHAR" property="video" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, order_id, spu_id, user_id, user_avatar, nick_name, rate, description, picture, 
    video, `status`, create_time, update_time
  </sql>
</mapper>