<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.business.mapper.UserOptionMapper">
  <resultMap id="BaseResultMap" type="com.ruoyi.project.business.domain.UserOption">
    <!--@mbg.generated-->
    <!--@Table t_user_option-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="picture" jdbcType="LONGVARCHAR" property="picture" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="option_status" jdbcType="INTEGER" property="optionStatus" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, `type`, content, picture, user_id, option_status, create_time, update_time
  </sql>
</mapper>