<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.business.mapper.UserTeamMapper">
  <resultMap id="BaseResultMap" type="com.ruoyi.project.business.domain.UserTeam">
    <!--@mbg.generated-->
    <!--@Table t_user_team-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="top_user_id" jdbcType="VARCHAR" property="topUserId" />
    <result column="direct_user_id" jdbcType="VARCHAR" property="directUserId" />
    <result column="income" jdbcType="DECIMAL" property="income" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, top_user_id, direct_user_id, income, create_time, update_time
  </sql>
  
  <resultMap id="UserTeamDetailMap" type="com.ruoyi.project.business.vo.UserTeamVO">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="top_user_id" jdbcType="VARCHAR" property="topUserId" />
    <result column="direct_user_id" jdbcType="VARCHAR" property="directUserId" />
    <result column="income" jdbcType="DECIMAL" property="income" />
    
    <result column="total_income" jdbcType="DECIMAL" property="totalIncome"/>
    <result column="invite_user_count" jdbcType="INTEGER" property="inviteUserCount" />
    
    <association property="user" javaType="com.ruoyi.project.business.domain.User">
      <result column="open_id" jdbcType="VARCHAR" property="openId" />
      <result column="username" jdbcType="VARCHAR" property="username" />
      <result column="password" jdbcType="VARCHAR" property="password" />
      <result column="nickname" jdbcType="VARCHAR" property="nickname" />
      <result column="status" jdbcType="TINYINT" property="status" />
      <result column="sex" jdbcType="VARCHAR" property="sex" />
      <result column="email" jdbcType="VARCHAR" property="email" />
      <result column="avatar" jdbcType="VARCHAR" property="avatar" />
      <result column="phone" jdbcType="VARCHAR" property="phone" />
      <result column="history_phone" jdbcType="VARCHAR" property="historyPhone" />
      <result column="is_deleted" jdbcType="INTEGER" property="isDeleted" />
      <result column="qr_code" jdbcType="INTEGER" property="qrCode" />
    </association>
  </resultMap>
  
  <select id="selectForIncomeAndInviteUserCount" resultMap="UserTeamDetailMap">
    select ut.*,
    COUNT(ut.id) as total_income,
    SUM(ut.income) as invite_user_count
    from t_user_team as ut
    <where>
      <if test="userId != null and userId != ''">
        ut.top_user_id = #{userId}
      </if>
    </where>
  </select>
  
  <select id="selectUserTeam" resultMap="UserTeamDetailMap">
    select ut.*,u.*
    from t_user_team as ut
    left join t_user as u on ut.top_user_id = u.id
    <where>
      <if test="userId != null and userId != ''">
        ut.top_user_id = #{userId}
      </if>
    </where>
  </select>
</mapper>
